nb-select {
    width: 40% !important;
}

.symptom{
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.text-div{
    display: inline-block;
}
.input-group{
    max-width: 180px;
}